/* COMMON CSS */

body {
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
}

header .inner {
  display: flex;
  width: 1200px;
  height: 64px;

  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
}

header .inner .header__logo {
  flex-shrink: 0;
}

header .inner .header__logo a {
  color: green;
  font-size: 32px;
  font-family: "Indie Flower", cursive;
}

header .inner .header__logo a i {
}

header .inner .header__menu {
  flex-shrink: 0;
  display: flex;
  font-size: 16px;
  height: 32px;
  color: #4a4a4a;
}

header .inner .header__menu li {
  padding: 8px 16px;
}

header .inner .header__menu li :hover {
  color: #1dc078;
}

header .inner .header__menu li a {
}

header .inner .header__space {
  flex-grow: 1;
}

header .inner .header__search {
  flex-shrink: 0;
  height: 34px;
  position: relative;
  margin-right: 30px;
}

header .inner .header__search input {
  border-radius: 3px;
  box-sizing: border-box;
  width: 148px;
  height: 34px;
  padding: 5px 9px;
  font-size: 16px;
  background-color: #f6f6f6;
  color: gray;
  border: none;
}
header .inner .header__search input:hover {
  border: 1px solid #c8c8c8;
}
header .inner .header__search input:focus {
  border: 1px solid #c8c8c8;
  outline: none;
  /* 안쪽으로 들어가게  */
  box-shadow: inset 0px 0px 0 2px #1dc078;
}
header .inner .header__search i {
  position: absolute;
  margin: auto;
  height: 16px;
  top: 0;
  bottom: 0;
  right: 9px;
}

/* 로그인, 회원가입 */
header .inner .header__login-join {
  flex-shrink: 0;
  display: flex;
  height: 34px;
  gap: 10px;
}

header .inner .header__login-join .btn {
  height: 34px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

header .inner .header__login-join .btn.btn--login {
  background-color: white;
  color: #4a4a4a;
}

header .inner .header__login-join .btn.btn--join {
  color: white;
  background-color: #f77867;
}
