body {
  background-color: #eee;
}

.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px;
  border: 2px solid #ddd;
}

.wrap .item {
  width: 300px;
  padding: 30px;
  background-color: #fff;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.wrap .item h2 {
  font: bold 30px/1 "arial";

  margin-bottom: 20px;
  color: #333;
}

.wrap .item p {
  font: normal 16px/1.5 "arial";
  color: #777;
}

.wrap .item a {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #555;
  color: white;
  text-align: center;
  font: 16px/30px "arial";
  margin-top: 20px;
}
