@import "reset";
@import "mixin";

//Main
$body: #111;
$body-bg: #eee;
$wrap-border: #ddd;
$wrap__item-bg: #fff;
$wrap__item-h2: #333;
$wrap__item-p: #777;
$btn-bg: orange;
$btn-font: white;
$wrap__item-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

body {
  background-color: $body-bg;
}
.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px;
  border: 2px solid $wrap-border;
  perspective: 600px;
  &:hover {
    .item {
      transform: translateY(0px) rotateY(0deg);
      opacity: 1;
    }
  }
  .item {
    width: 300px;
    padding: 30px;
    background-color: $wrap__item-bg;
    margin: 50px;
    border-radius: 10px;
    box-shadow: $wrap__item-shadow;
    transform: translateY(100px) rotateY(180deg);
    transition: 0.6s;
    opacity: 0;

    $interval: 0.3s;
    @for $i from 1 to 5 {
      &:nth-child(#{i}) {
        transition-delay: $interval * $i;
      }
    }
    h2 {
      font: bold 30px/1 "arial";
      margin-bottom: 20px;
      color: $wrap__item-h2;
    }
    p {
      font: normal 16px/1.5 "arial";
      color: #777;
    }
    a {
      @include button(100%, $btn-bg, $btn-font);
    }
  }
}
