p.lion {
  background-color: red;
}
.zoo > ul > .lion {
  background-color: green;
}
.zoo > ul > #tiger {
  background-color: yellow;
}
.lion {
  color: white;
}

.zoo .lion {
  font-weight: 700;
}

#tiger + li {
  background-color: skyblue;
}

.zoo > ul > .lion ~ li {
  background-color: orange;
}
